* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.OurPlanContainer {
  max-width: 1200px;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: white;
}
.OurPlanContainer > h1 {
  font-size: clamp(1.2rem, 3vw, 2rem);
  font-weight: 700;
}
.OurPlanContainer > p {
  font-size: clamp(0.8rem, 3vw, 1.5rem);
  font-weight: 400;
  text-align: center;
  color: #ffffff68;
}
.PlanButtons {
  display: flex;
  border: 2px solid #a00;
  border-radius: 50px;
  overflow: hidden;
  width: 266px;
}
.toggle-btn {
  flex: 1;
  padding: 12px 0;
  text-align: center;
  font-size: 1rem;
  border: none;
  background: transparent;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}
.active {
  background: #d41919;
  color: white;
}
.PlanContainer {
  max-width: 1200px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: white;
  padding: 10px;
}
.PlanCards {
  border-radius: 8px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-shadow: 0px 1px 8px 0px #d90a141f;
  border: 3px solid #d90a14;
  background: radial-gradient(
    circle,
    rgba(217, 58, 10, 0.466) 0%,
    rgba(10, 13, 23, 0.6) 100%
  );
}
.PlanCards > span {
  color: #d90a14;
  font-size: clamp(0.8rem, 3vw, 1rem);
  font-weight: 400;
}
.PlanCards > h1 {
  font-size: clamp(1.5rem, 3vw, 2rem);
  font-weight: 800;
}
.PlanCards > p {
  font-size: clamp(0.8rem, 3vw, 1rem);
  color: rgba(255, 255, 255, 0.753);
  font-weight: 400;
  text-align: justify;
}
.PlanCards > ul {
  display: flex;
  flex-direction: column;
  font-size: clamp(0.8rem, 3vw, 1rem);
  color: rgba(255, 255, 255, 0.753);
  font-weight: 400;
  text-align: justify;
  align-self: flex-start;
  padding: 10px 20px;
}
.PlanCards > ul > li {
  text-align: left;
  padding: 10px 0;
}
.PlanButton {
  width: 100%;
  color: white;
  background-color: red;
  border: 1px solid #cd4e17;
  border-radius: 16px;
  padding: 8px 24px;
  font-size: clamp(1rem, 3vw, 1.5rem);
  font-weight: 500;
  white-space: nowrap;
}
@media screen and (min-width: 900px) {
    .PlanContainer {
  max-width: 1200px;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: white;
  padding: 10px;
}
}
